@import url('fonts.css');

:root{
    --background-color: #FFFFFF;
    --background-secondary-color: linear-gradient(180deg,#7596BB 0%, #FFFFFF 100%);
    --text-important-color: #3569A5;
    --button-background-color: #3569A5;
    --button-text-color: #FFFFFF;
    --font-color-dark: #000000;
    --font-color-light: #FFFFFF;
}

*{
    font-family: 'Roboto', sans-serif;
}

html, body{
    background-color: var(--background-color);
}

.text-white{
    color: var(--font-color-light);
}

.max-width > *{
    max-width: 100%;
}

.btn-custom{
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-size: 14px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 12px 25px;
    text-align: center;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

    &:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        filter: brightness(120%);
        -webkit-filter: brightness(120%);
}
}

.important-text{
    color: var(--text-important-color);
}

nav{
    .nav-link{
        font-size: 14px;
        color: var(--font-color-dark);
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        &:hover{
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
}
    }
}

#header{
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='545'%20height='545'%20viewBox='0%200%20545%20545'%20fill='none'%3E%3Ccircle%20cx='272.5'%20cy='272.5'%20r='272.5'%20fill='url(%23paint0_linear_5_235)'/%3E%3Ccircle%20cx='272.5'%20cy='272.5'%20r='163.5'%20fill='url(%23paint1_linear_5_235)'/%3E%3Cdefs%3E%3ClinearGradient%20id='paint0_linear_5_235'%20x1='26.5'%20y1='398'%20x2='508.5'%20y2='137.5'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%2382A5CB'%20stop-opacity='0'/%3E%3Cstop%20offset='1'%20stop-color='%2383A6CC'/%3E%3C/linearGradient%3E%3ClinearGradient%20id='paint1_linear_5_235'%20x1='133.5'%20y1='355.5'%20x2='415'%20y2='202'%20gradientUnits='userSpaceOnUse'%3E%3Cstop%20stop-color='%2382A5CB'%20stop-opacity='0'/%3E%3Cstop%20offset='1'%20stop-color='%2382A5CB'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    h1{
        color: var(--font-color-dark);
        font-size: 80px;
        font-weight: 100;
        .important-text{
            font-weight: 500;
        }
        text-shadow: 0px 4px 4px rgba(0,0,0,.25);
    }
    padding-bottom: 80px !important;

    @media screen and (max-width: 992px) {
        background-image: none;
        padding-bottom: 3rem !important;
    }
    @media screen and (max-width: 768px){
        h1{
            font-size: 3rem;
        }
    }
}

#peopleOnline{
    top: 0;
    left: 0;
    max-width: 188px;
    background-color: var(--background-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    padding: 22px 20px;
    p{
        font-size: 14px;
        font-weight: 200;
        line-height: 1;
    }
    span{
        font-size: 40;
    }
}

.wave-container{
    left: 0;
    bottom: 0;
}

#girlImg{
    bottom: -120px;
    position: relative;
}

.content{
    height: fit-content;
    background: var(--background-secondary-color);
}

section{
    .section-title{
        font-size: 40px;
    }
    .section-description{
        font-size: 16px;
    }
}
.how-card-row{
    .how-card-container{
        &:first-child{
            transform: rotate(-2.34deg);
            -webkit-transform: rotate(-2.34deg);
            -moz-transform: rotate(-2.34deg);
            -ms-transform: rotate(-2.34deg);
            -o-transform: rotate(-2.34deg);
        }
        &:nth-child(2){
            transform: rotate(3deg);
            -webkit-transform: rotate(3deg);
            -moz-transform: rotate(3deg);
            -ms-transform: rotate(3deg);
            -o-transform: rotate(3deg);
        }
        &:last-child{
            transform: rotate(-2.47deg);
            -webkit-transform: rotate(-2.47deg);
            -moz-transform: rotate(-2.47deg);
            -ms-transform: rotate(-2.47deg);
            -o-transform: rotate(-2.47deg);
}
        .how-card-number{
            font-size: 80px;
            color: #ffff;
            text-shadow: 0px 4px 4px rgba(0,0,0,.25);
            font-weight: 800;
            left: 0;
            right: 0;
            top: -65px;
            z-index: 0;
        }
        .how-card{
            background-color: #ffff;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
            z-index: 2;
            .how-card-title{
                font-size: 20px;
            }
            .how-card-description{
                font-size: 12px;
            }
            .how-card-icon{
                width: 50px;
                height: 50px;
                background-color: #799BC5;
                i{
                    font-size: 26px;
                    color: #ffff;
                }
            }
        }
    }
}

.price-container {
    h4 {
      .price-important {
        color: #204177;
        font-size: 80px;
        position: relative;
        .price-discount-container {
            position: absolute;
            right: -6rem;
            top: 0;
            font-size: 30px;
            color: #252525;
            .price-discount {
              color: #6D6D6D;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 10%;
                background-color: #A55252;
                left: 0;
                bottom: 0;
                top: 0;
                margin: auto 0;
                transform: rotate(-10deg);
                -webkit-transform: rotate(-10deg);
                -moz-transform: rotate(-10deg);
                -ms-transform: rotate(-10deg);
                -o-transform: rotate(-10deg);
            }
            }
          }
      }

    }
    .price-text{
        font-size: 10px;
    }
  }

  .price-information{
    background-color: #476597;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
    .price-information-text{
        font-size: 16px;
        i{
            font-size: 26px;
        }
    }
}

.font-small{
    font-size: 10px;
}

.review-card{
    background-color: #ffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,.25);
    .review-iq{
        font-size: 14px;
    }
    .review-text{
        font-size: 12px;
    }
    .review-footer{
        .review-information{
            .review-name{
                font-size: 12px;
                line-height: 1;
            }
            .review-country{
                font-size: 10px;
            }
        }
    }
}

.country-iq-list{
    .country-iq-card{
        .country-iq{
            font-size: 30px;
            line-height: 1;
        }
        .country-name{
            font-size: 12px;
        }
        .country-flag{
            img{
                filter: drop-shadow(0px 0px 4px rgba(0,0,0,.25));
                -webkit-filter: drop-shadow(0px 0px 4px rgba(0,0,0,.25));
}
        }
    }
}

.popup-notification {
    background-color: #FFFFFF;
    max-width: 350px;
    bottom: 10px;
    left: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .25);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.popup-icon-container {
    min-width: 65px !important;
    min-height: 65px !important;
    background-color: #546F9B;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 26px;
}
.popup-text p {
    font-size: 12px;
}
.popup-show {
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 2.5s;
    -webkit-animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 2.5s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.fs-12{
  font-size: 12px !important;
}
